:root {
  --primary-color: hsl(243, 87%, 12%, 1);
  --secondary-color: hsl(238, 22%, 44%, 1);
  --accent-color: hsl(222, 95%, 56%, 1);

  --ff-body: ;

  --fs-400: 1rem;

  --fw-bold: 700;
  --fw-regular: 400;
  --fw-light: 200b
}

/* Css Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

/* Typography*/
body {
  color: var(--primary-color);
}

h1,
h2 {
  font-weight: var(--fw-bold);
}

p {
  font-size: 1.125rem;
}

/* Utility Classes */
.container {
  margin-inline: auto;
}

.flow-grid {
  display: grid;
  gap: 2rem;
}

.flow--small {
  gap: 1.5rem;
}

.flex {
  display: flex;
  gap: 1.5rem;
}

.even-columns {
  display: grid;
  gap: 2rem;
}

@media (min-width: 40em) {
  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}

/* Buttons */
.btn {
  background: var(--accent-color);
  border: 0;
  border-radius: 2px;
  color: white;
}

.btn-primary {
  display: inline-block;
  margin-top: 1.5rem;
  padding: .6rem 2rem;
}

@media (max-width: 40em) {
  .btn {
    width: 90%;
  }
}

/* NavBar*/
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.2rem;
  /* border: 1px solid red; */
}

.nav .logo {
  width: 5rem;
}

/* Lists */
.list {
  /* border: 1px solid lime; */
}

.list__item {
  display: inline-block;
  padding-left: 1rem;
}

/* Images */
.testimonial-img {
  width: 30px;
  border-radius: 50%;
}

/* Icons */
.logo {
  height: 3rem;
  width: 10rem;
}

.icon {
  width: 2rem;
}

/* Links */
.arrow-link {
  text-align: center;
}

/* Hero*/
.hero__body {
  text-align: center;
  padding: 1.5rem;
}

.hero__heading {
  font-size: 2rem;
}

.hero__input {
  border: 2px solid var(--secondary-color);
  border-radius: 3px;
  height: 40px;
  padding-inline: 1.2rem;
}

.hero__input[placeholder]{
  font-size: 1rem;
  opacity: 0.5;
}

@media (min-width: 40em) {
  .hero__body {
    padding-right: 0;
    border: 1px solid lime;
  }
  .flex-box {
    display: flex;
  }

  .flex__img {
    order: 1;
  }

  .hero__body {
    text-align: left;
  }
  
  .hero__form {
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  .hero__form .btn-primary{
    font-size: .75rem;
    margin-top: 0;
  }
  
  .hero__input {
    width: 50%;
    height: 35px;
  }
}

/* Form */
input {
  width: 90%;
  height: 3rem;
}

.callout input {
  background: white;
  border: none;
  border-radius: 2px;
}

@media (min-width: 40em) {
  form {
    display: flex;
  }
}

/* Testimonial */
.testimonial {
  border: 1px solid lime;
  height: 17rem;
  /* margin: 0 auto; */
  padding: 1.5rem;
}

.testimony {
  display: flex;
  align-items: center;
}

.testimony div span {
  display: block;
}

.name {
  font-weight: 800;
}

/* Callout */
.callout {
  background: #575989;
  color: white;
  padding: 2rem 1.5rem;
  text-align: center;
}

@media (min-width: 40em) {
  .callout {
    text-align: left;
    padding: 4rem 5rem;
    display: flex;

    align-content: center;
    justify-content: space-between;
  }

  .callout p {
    max-width: 35rem;
  }

  .callout .input-filled {
    margin-top: 2rem;
  }

}

/* Footer */
.footer {
  background: #07043b;
  color: white;
  padding: 2rem 1.5rem;
  --logo-color: #fff;
}

@media (min-width: 50em) {
  .footer-nav {
    columns: 2;
  }
}

.section-2 {
  background: #f9f8fe;
  position: relative;
}

.section-2::before {
  content: '';
  background-image: url(/images/bg-curve-mobile.svg);
  position: absolute;
  bottom: 99%;
  left: 0;
  right: 30%;
}